<table class="characteristics table table-hover table-striped table-sm">
    <thead class="thead-light">
        <tr>
            <th class="fit">Symbol</th>
            <th class="fit">Parameter</th>
            <th class="fit">Variant</th>
            <th class="fit">Conditions</th>
            <th class="fit">Min.</th>
            <th class="fit">Typ.</th>
            <th class="fit">Max.</th>
            <th class="fit">Unit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="fit">
                $V_{Isensor}$
            </td>
            <td class="fit">Input voltage</td>
            <td class="fit"></td>
            <td class="fit"></td>
            <td class="fit">0.00</td>
            <td class="fit"></td>
            <td class="fit">3.30</td>
            <td class="fit">V</td>
        </tr>
        <tr>
            <td class="fit">
                $t_{Isensor}$
            </td>
            <td class="fit">Sampling time</td>
            <td class="fit"></td>
            <td class="fit"></td>
            <td class="fit"></td>
            <td class="fit">72.00</td>
            <td class="fit"></td>
            <td class="fit">μs</td>
        </tr>
        <tr>
            <td class="fit">
                $fc_{Isensor}$
            </td>
            <td class="fit">LPF cut-off frequency</td>
            <td class="fit"></td>
            <td class="fit"></td>
            <td class="fit"></td>
            <td class="fit">6.75</td>
            <td class="fit"></td>
            <td class="fit">kHz</td>
        </tr>
        <tr>
            <td class="fit">
                $Vsup_{Isensor}$
            </td>
            <td class="fit">Sensor supply voltage</td>
            <td class="fit"></td>
            <td class="fit">Recommended to use a current sensor with internal reference.</td>
            <td class="fit">5.117</td>
            <td class="fit">5.2</td>
            <td class="fit">5.381</td>
            <td class="fit">V</td>
        </tr>
        <tr>
            <td class="fit">
                $I_{Isensor}$
            </td>
            <td class="fit">Sensor supply current</td>
            <td class="fit"></td>
            <td class="fit"></td>
            <td class="fit"></td>
            <td class="fit">15</td>
            <td class="fit"></td>
            <td class="fit">mA</td>
        </tr>
        <tr>
            <td class="fit">
                $ε_{Isensor}$
            </td>
            <td class="fit">Channel error</td>
            <td class="fit"></td>
            <td class="fit"></td>
            <td class="fit"></td>
            <td class="fit">±2.41</td>
            <td class="fit"></td>
            <td class="fit">mV</td>
        </tr>
    </tbody>
</table>