/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;

  --ifm-table-cell-padding: .3rem
}

.hero--primary {
  background-color: black;
}

.badge {
  margin-right: 2px;
}

.button.button--secondary.button--outline:not(.button--active):not(:hover) {
  color: white
}


thead {

  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;

}

mjx-container.MathJax.CtxtMenu_Attached_0 {
  margin: 0px
}

table th {
  color: #212529;
  background-color: transparent;
  border-color: #dee2e6;
  border-top: 0px;
  vertical-align: bottom;
  text-align: left;
  border-right: none;
  border-left: none;



}

table td {
  margin: 0px;
  border-right: none;
  border-left: none;
  text-align: left;

}

table {
  font-size: 12px;
  display: table;
  width: 100% !important;
  border-collapse: separate;
  border-spacing: 0;
  overflow-wrap: break-word;
  overflow: hidden;
  table-layout: auto;

}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.wrong {
  color: red;
}

.good {
  color: green;
}

.iframe {
  width: 100%
}

.mh1-iframes {
  width: 100%
}

.airtable-embed {
  background: transparent;
  border: 1px solid #ccc
}


.characteristics {
  table-layout: fixed;
  width: 100%;
}

.characteristics td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.pins {
  table-layout: fixed;
  width: 100%;
}

.pins td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.features {
  table-layout: fixed;
  width: 100%;
}

.features td {
  overflow: hidden;
}

.connectors-designation {
  table-layout: fixed;
  width: 100%;

}

.connectors-designation td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.connectors-implementation {
  table-layout: fixed;
  width: 100%;

}

.connectors-implementation td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.connectors-condensend {
  table-layout: fixed;
  width: 100%;

}

.connectors-condensend td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-symbols {
  width: 97px;
}

.col-parameter {
  width: 145px;
}

.col-condition {
  min-width: 100px;
}

.col-Min\. {
  width: 58px;
}

.col-Typ\. {
  width: 58px;
}

.col-Max\. {
  width: 58px;
}

.col-Unit {
  width: 60px;
}

.pins .col-number {
  width: 30px;
}

.pins .col-type {
  width: 100px;
}

.pins .col-label {
  width: 70px;
}

.pins .col-description-pins {
  min-width: 100px;
}

.connectors-designation .col-designator {
  width: 40px;
}

.connectors-designation .col-name {
  width: 250px;
}

.connectors-designation .col-pins {
  width: 40px;
}

.connectors-designation .col-description {

  min-width: 100px;
}

.connectors-implementation .col-des\. {
  width: 40px;
}

.connectors-implementation .col-name {
  min-width: 100px;
}

.connectors-implementation .mpn {
  width: 130px;
}

.connectors-implementation .mating-housing-mpn {
  width: 130px;
}

.connectors-implementation .crimp-mpn {
  width: 130px;
}

.connectors-implementation .awg {
  width: 50px;
}


.connectors-condensed .col-number-of-pins {
  width: 40px;
}

.connectors-condensed .col-description {
  min-width: 100px;
}

.connectors-condensed .mpn {
  width: 130px;
}

.connectors-condensed .mating-housing-mpn {
  width: 130px;
}

.connectors-condensed .crimp-mpn {
  width: 130px;
}

.connectors-condensed .awg {
  width: 50px;
}


.features .col-name {
  width: 160px;
}

.features .col-value {
  width: 50px;
}

.features .col-description {
  min-width: 100px;
}

.col-variant {
  width: 80px;
}

.col-category {
  width: 130px;
}

.blocks .col-name {
  width: 150px
}

.blocks .col-type {
  width: 100px
}

.blocks .col-label {
  width: 100px
}

.blocks .col-parent {
  width: 150px
}

.blocks .col-description {
  min-width: 50px
}